.header{
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 0.1px solid lightgray;
}
.header_left > img{
    height:40px;
    object-fit: contain;
    margin-right: 10px;
}

.header_left{
    display: flex;
}

.header_search{
    display: flex;
    padding:10px;
    align-items: center;
    border-radius: 5px;
    height: 24px;
    color: gray;
    background-color:#eef3f8;
}

.header_search > input{
    border: none;
    background: none;
}

.header_right{
    display: flex;
}